@import "tailwindcss";

:root {
  /* Core semantic colors */
  --color-background:  #FFFFFF;
  --color-foreground:  #171717;
  --color-primary:     #FF5C5C;  /* “Red Flag” */
  --color-secondary:   #6BD47E;  /* “Green Flag” */
  --color-accent:      #FFA0AD;  /* Highlight pink */
}

@theme inline {
  /* Map Tailwind theme variables to our CSS custom properties */
  --color-background:  var(--color-background);
  --color-foreground:  var(--color-foreground);
  --color-primary:     var(--color-primary);
  --color-secondary:   var(--color-secondary);
  --color-accent:      var(--color-accent);

  --font-sans:         var(--font-montserrat-sans);
  --font-mono:         var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background:  #0A0A0A;
    --color-foreground:  #EDEDED;
  }
} */

body {
  background-color: var(--color-background);
  color:            var(--color-foreground);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}